DATABASE_URL="postgresql://postgres:postgres@localhost:5432/diromma?schema=public"
PORT=3000
FRONTEND_URL="http://localhost:5500"
JWT_SECRET="promeni-me-dugackim-nasumicnim-stringom-od-najmanje-32-karaktera"
ADMIN_EMAIL="admin@diromma.rs"
ADMIN_PASSWORD="promeni-me-pre-seed-komande"
NODE_ENV="development"
